.book-box{
    width: 200px;
    height: 200px;
    background-color: rgb(231, 224, 224);
    border: 2px solid;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.description-box{
    width: 150px;
    height: 100px;
    background-color: rgb(231, 224, 224);
    border: 2px solid;
    border-radius: 8px;
    padding: 20px;
    margin-top: 10px;
}

.container-line{
    display: flex;
    flex-wrap: wrap;
}

.page{
    margin: 10px;
}

.container-buttons{
    display: flex;
    gap: 10px;
}

.small-button{
    padding: 8px 16px;
    cursor: pointer;

}